body
{
    margin: 0 auto;

    font-size: 14px;
    color: black;

    font-family: 'Roboto', sans-serif;

    width: 100%;
    max-width: 850px;
}


/* Logo */

.header
{
    background-color: #0085cf;
    height: 100%;
    max-height: 150px;
}

.container
{
    padding: 20px 45px;
}


/* Page Content */

.top_section
{
    position: relative;

    display: flex;
    justify-content: center;
}

.top_section__img
{
    position: absolute;
    z-index: -10;
}

.top_section__inner
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    width: 100%;
    max-width: 560px;

    border-radius: 15px;
    
    background-color: #ffffffce;

    margin: 85px 0;
}

.top_section__title
{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #0085cf;

    margin: 30px 0 10px;
}

.top_section__subtitle
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;

    padding: 0 50px 30px;
}


/* Activities section */

.activities_section
{
    margin: 50px 0;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.section__title
{
    margin-bottom: 30px;

    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #0085cf;
}

.activities_section__inner
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    max-width: 760px;
}

.event_img
{
    margin-bottom: 25px;
}

.event_title
{
    line-height: 0.3;

    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.btn
{
    background-color: #0085cf;
    padding: 5px 20px;
    border-radius: 5px;

    color: white;
    text-decoration: none;

    font-family: Arial, Helvetica, sans-serif;
    
    justify-content: right;
}


/* Quick_section */

.quick_section
{
    padding: 20px 25px;

    background-color: #0085cf;

    border-radius: 15px;

    margin-bottom: 50px;
}

.quick_section__title
{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;

    color: #fff;

    margin-bottom: 5px;
}

.quick_section__subtitle
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

    color: rgba(255, 255, 255, 0.877);
}


/* Updates_section */

.updates_section
{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.updates_section__inner
{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    
}

.update_img
{
    margin-right: 20px;
}

.update_description
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.update_title
{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;

    margin-bottom: 10px;
}

.update_subtitle
{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;

    margin-bottom: 10px;
}


/* Footer */

.footer_inner
{
    background-color: #0085cf;

    text-align: center;

    padding: 25px 0;

    font-weight: bold;
}

.footer__manage
{
    margin: 25px 0;

    display: flex;
    justify-content: space-between;

    padding: 0 120px;

    
}

.manage___link
{
    text-decoration: none;

    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
